<section class="bg-blue-300">
about hello world
</section>

{% schema %}
    {
        "name": "About",
        "settings": [],
        "presets": [
            {
                "name": "About"
            }
        ]
    }
{% endschema %}