<section>
hero
</section>

{% schema %}
    {
        "name": "Hero",
        "settings": [],
        "presets": [
            {
                "name": "Hero"
            }
        ]
    }
{% endschema %}